@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #C54B43;
    --secondary-color: rgb(116, 116, 116);
    --dark-secondary-color: rgb(71, 71, 71);
    --light-secondary-color: #E9E5E0;
    --center-text: center;
    --start-text: start;
}
*{
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f9;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    text-align: var(--center-text);
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.ad{
    text-align: var(--center-text);
    top: 10px;
    
}
nav{
    display: flex;
    align-items: baseline;
    position: relative;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}
nav ul li a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
    font-size: 17px;
}

nav ul li a:hover, a:focus {
    color: var(--light-secondary-color); 
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(131, 131, 131, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 13px rgba(105, 105, 105, 0.2);
}

article h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--dark-secondary-color);
}

article p {
    color: var(--secondary-color);
    line-height: 1.6;
}

article .btn-primary {
    background-color: var(--secondary-color);
    border: none;
    transition: .3s ease-in;
}

article .btn-primary:hover {
    background-color: var(--dark-secondary-color);
}

aside {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: var(--secondary-color);
}

aside h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--dark-secondary-color);
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: .3s ease-in;
}

aside ul li a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

footer {
    background-color: var(--light-secondary-color);
    color: var(--dark-secondary-color);
    text-align: var(--center-text);
    padding: 20px;
    margin-top: 40px;
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
}

footer p .designer-name{
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}
#back-top-btn{
    position: fixed;
    border: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: 17px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    bottom: 20px;
    z-index: 99;
    transition: opacity 0.3s;
    right: 20px;
}
.contact-form{
    background-color: white;
    color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70%;
    padding: 10px;
    top: -100px;
    box-shadow: 1px 1px 7px rgb(167, 167, 167,0.4);
}
.fields{
    width: 50%;
    text-align: var(--start-text);
    padding: 20px;
}
input,textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--dark-secondary-color);
    border-bottom: 1px solid var(--light-secondary-color);
}
textarea{
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--light-secondary-color);
    border-radius: 5px;
}
textarea{
    max-height: 100px;
}
.send-msg-btn{
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    width: 50%;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
}
.personal-info-contact{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 10px;
}
label{
    display: block;
}
.field{
    margin-bottom: 10px;
}
.contact-info{
    padding: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}
.contact-info ul{
    list-style: none;
    text-align: var(--start-text);
}
.contact-info ul li{
    margin: 20px 0;
}
.contact-info ul li a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.menu-icon{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    display: none;
    position: absolute;
}
@media screen and (max-width: 768px){
    nav ul{
        flex-direction: column;
        position: absolute;
        z-index: 98;
        right: 0;
        display: none;
        top: 30px;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(63, 63, 63,0.2);
        border-radius: 6px;
        padding: 10px;
    }
    nav ul li a {
        color: var(--secondary-color);
    }
    nav ul li a:hover{
        color: var(--dark-secondary-color);
    }
    .menu-icon{
        right: 0;
        top: -10px;
        display: block;
    }
    .personal-info-contact{
        display: block;
    }
    .contact-form{
        width: 90%;
        flex-direction: column;
    }
    .contact-info{
        width: 100%;
    }
    .fields{
        width: 100%;
    }
}
@media screen and (max-width: 992px){
    .personal-info-contact{
        display: block;
    }
    .contact-form{
        width: 80%;
    }

}